{
  "agent": {
   "metrics_collection_interval": {{ metrics_collection_interval }},
   "region": "{{ region }}",
   "logfile": "{{ cloudwatch_agent_log_file }}",
   "debug": false,
   "run_as_user": "{{ cw_agent_user }}",
   "omit_hostname": true
  },
  {% if cw_log_files is defined -%}
  "logs": {
    "logs_collected": {
      "files": {
        "collect_list": [
          {%+ for logname, logdata in cw_log_files.items() -%}
          {
              "file_path": "{{ logdata.file_path | default(default_log_path) }}/{{ logname }}",
              "log_group_name": "{{ logdata.log_group_name | default(default_log_group_name) }}",
              "log_stream_name": "{instance_id}_{hostname}",
              "timezone": "Local"
          }{%+ if not loop.last -%},{%+ endif -%}
          {%+ endfor -%}
        ]
      }
    },
    "log_stream_name": "{instance_id}_{hostname}"
  },
  {% endif -%}
  {% if cw_collect_metrics is defined -%}
  "metrics": {
    "metrics_collected": {
      {% if cw_collect_metrics.procstats is defined -%}
      "procstat": [
        {%+ for procstat in cw_collect_metrics.procstats -%}
        {
          "pid_file": "{{ procstat.pid }}",
          "measurement": {{ procstat.measurement | to_json}}
        }{%+ if not loop.last -%},{%+ endif -%}
        {%+ endfor -%}
      ]{% endif -%}
    },
    {% if cw_collect_metrics.append_dimensions is defined -%}
    "append_dimensions": {
      {%+ for dimension in cw_collect_metrics.append_dimensions -%}
        "{{ dimension.option }}": "{{ dimension.setting }}"{%+ if not loop.last -%},{%+ endif -%}
        {%+ endfor -%}
      {% endif -%}
    },
    "force_flush_interval": {{ cw_collect_metrics.force_flush_interval | default(60) }}
  }
  {% endif -%}
}

