#!/bin/bash

HOSTNAME=`curl http://169.254.169.254/latest/meta-data/instance-id`;
IP_ADDRESS=`hostname -I | awk '{print $1}'`;
NAGIOS_HOST="{{ nagios_host }}";
API_KEY="{{ nagios_api_key | default("")}}";
TEMPLATE="{{ server_template_name }}";

curl -XPOST "http://$NAGIOS_HOST/nagiosxi/api/v1/config/host?apikey=$API_KEY&pretty=1" -d "host_name=$HOSTNAME&address=$IP_ADDRESS&use=$TEMPLATE&force=1&applyconfig=1";
sleep 1;
curl -XPOST "http://$NAGIOS_HOST/nagiosxi/api/v1/config/service?apikey=$API_KEY&pretty=1" -d "host_name=$HOSTNAME&service_description=Ping&use=xiwizard_linuxserver_ping_service&force=1&applyconfig=1";
sleep 1;


