#!/bin/bash

HOSTNAME=`hostname -s`;
IP_ADDRESS=`hostname -I | awk '{print $1}'`;
NAGIOS_HOST="nagios.sharedservices.aws.internal";
API_KEY="{{API_KEY | default("")}}";
TEMPLATE="EWF_Server";

curl -XDELETE "http://$NAGIOS_HOST/nagiosxi/api/v1/config/host?apikey=$API_KEY&pretty=1&host_name=$HOSTNAME&force=1&applyconfig=1";
sleep 1;
