[Unit]
Description=Script that registers clients to Nagios on boot
DefaultDependencies=no
After=network.target
After=network-online.target

[Service]
Type=oneshot
RemainAfterExit=yes
ExecStart=/usr/local/bin/nagios-host-add.sh

[Install]
WantedBy=multi-user.target