[Unit]
Description=Script that removes clients from Nagios on shutdown
DefaultDependencies=no
Before=shutdown.target reboot.target halt.target
After=network.target network-online.target

[Service]
Type=oneshot
RemainAfterExit=yes
ExecStop=/usr/local/bin/nagios-host-remove.sh

[Install]
WantedBy=multi-user.target 
